<div class="container">
    <ul class="users">
        <li class="user-detail" *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p }">
            <app-user-card [data]="user" (deletedUser)="removeElement($event)"></app-user-card>
        </li>
    </ul>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <button mat-fab color="primary" aria-label="create a new user" [routerLink]="['/create']">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>